body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', serif;
  background-color: #f7f1e3; 
  color: #4b3d33;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
